*.pyc
*__pycache__
*test.py
Scholar/media/
Scholar/work/migrations/__init__.py
Scholar/work/migrations/0001_initial.py
Scholar/user/migrations/0002_alter_user_table.py
Scholar/user/migrations/0001_initial.py
Scholar/message/migrations/0001_initial.py
Scholar/history/migrations/0001_initial.py
Scholar/form/migrations/0001_initial.py
Scholar/follow/migrations/0001_initial.py
Scholar/comment/migrations/0001_initial.py
Scholar/collection/migrations/0001_initial.py
Scholar/author/migrations/0001_initial.py
Scholar/author/migrations/__init__.py
Scholar/collection/migrations/__init__.py
Scholar/comment/migrations/__init__.py
Scholar/follow/migrations/__init__.py
Scholar/form/migrations/__init__.py
Scholar/history/migrations/__init__.py
Scholar/message/migrations/__init__.py
Scholar/user/migrations/0003_alter_user_introduction.py
